
<div class="container1">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

         <div class="formhead">Your Feedback</div>

          <div class="form-group">
            <!-- Username -->
            <label for="username">Name: <span class="lblError">*</span></label>
            <div class="controls">
              <input type="text" id="username" placeholder="Name" class="form-control" formControlName="user_name">
            </div>
          </div>
          <div class="form-group">
            <!-- E-mail -->
            <label for="email">E-mail: <span class="lblError">*</span></label>
            <div class="controls">
              <input type="text" id="email" placeholder="E-mail" class="form-control" formControlName="user_email">
            </div>
          </div>


          <div class="form-group" >
            <label class="form-check-label" for="choices">Feedback: </label>
            <div class="row" id="choices">
            <div class="options">
                <input type="radio" id="feedbackgreat" class="form-check-input" formControlName="feedback" value="Great" name="feedback">
                <label class="form-check-label" for="feedbackgreat">Great</label>
            </div>
            <div class="options">
              <input type="radio" id="feedbackokay" class="form-check-input" formControlName="feedback" value="Okay" name="feedback">
              <label class="form-check-label" for="feedbackokay">Okay</label>
            </div>
            <div class="options">
              <input type="radio" id="feedbackngood" class="form-check-input" formControlName="feedback" value="Not Good" name="feedback">
              <label class="form-check-label" for="feedbackngood">Not Good</label>
            </div>
            </div>
          </div>

            <div class="form-group">
                <!-- Comments -->
              <label for="given_comments">Comments: </label>
              <div class="controls">
                <textarea id="given_comments" class="form-text-control" formControlName="comments"></textarea>
              </div>
            </div>

            <div class="form-group">
              <button class="btn" type="submit" >Submit</button>
            </div>
            <!--<p>{{ email }}</p>-->
            <div>
              Here's what we recieved from you: {{ dataPost }}<br>
            </div>
    </form>
    <br>
    <!--<div id="text" style="display:none;">
      Name: {{name}}<br>
      Email: {{email}}<br>
      Feedback: {{feedback}}<br>
      Comment: {{comment}}
  </div>-->
  </div>
