input {
  font-family:Arial, Helvetica, sans-serif;

  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-top: auto;
  padding:4px;
  display: inline-flex;

  align-items: top;
  vertical-align: middle;



}

a{
  color: #ffffff;
}

.container1 .form-group .row .options > label{
  padding: 4px;
  font-size: 14px;
  margin-left: -5px;
  margin-top: -2px;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px #9ab980;
  background-color: #40a306;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}



 .container1{
  display: flex;
  justify-content: center;
  align-items: center;


}

form {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #dcdce4;

  margin-top: 10pt;
  padding: 10pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(116, 116, 116);
  box-shadow: 1px 1px 5px 1px  #413636;


}

.container1 .form-group .row .options {
  display: inline;
  padding: 5px;
  margin-top: -4px;
}

.formhead{
  font-size: 30px;
  text-decoration: underline;
}


textarea{
  font-family:sans-serif;

  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

.lblError {
  color: red;
}

.text {
  color: #444444;
  font-family:sans-serif;
  font-size: 14px;
}
