.details-contact{
  font-family: cursive;
  font-size: 14px;
  color: #fff;
  background: #2d2d2d;
  padding: 20px;
  height: 50px;
  width: 150px;
  display: inline-block;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 2.5px;
  margin-right: 2.5px;

}
.main-contact{
  padding: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-head{
  font-family: cursive;
  font-weight: 600;
  font-size: 25px;
  width: 381px;
  color: #fff;
  background: #167209;
  padding: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
}
.overall{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
